<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upc.edu.swapapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tempicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tempicon_round"
        android:supportsRtl="true"
        android:theme="@style/TextBox">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.MainActivity">
        </activity>
    </application>

</manifest>